:root {
  --green-primary: #2cdf62;
  --green-secondary: #00ca76;
  --gray-primary: #aaaaaa;
  --gray-secondary: #d2d0d0;
  --red-primary: #f52600;
}

html {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 90vh;
}

button:hover,
.close:hover,
a:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}

button:active,
close:active,
a:active {
  filter: brightness(70%);
}

/* HEADER */

header {
  height: 10vh;
  background-color: var(--green-primary);
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

header div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}

header img {
  height: 80%;
}

header h1 {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  gap: 2em;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  list-style: none;
}

header nav ul a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: larger;
  border: 1px solid white;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
}

#logout_button {
  align-self: center;
  width: 100px;
  font-size: larger;
  border-left: 1px solid white;
  height: 80%;
  text-align: center;
  padding-inline: 10px;
}

#logout_button a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
#logout_button a:hover{
  border: 1px solid var(--red-primary);
  color: var(--red-primary);
}

/* END HEADER */

/* MESSAGES */

.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  position: absolute;
  width: 400px;
  max-width: 90%;
  bottom: 20px;
  left: 20;
}

.message-element {
  height: 2.5em;
  width: 100%;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  padding-inline: 1em;
  list-style-type: none;
}

.message-success {
  background-color: var(--green-secondary);
}

.message-error {
  background-color: var(--red-primary);
}

.messages li {
  list-style: none;
}

/* END MESSAGES */

/* MODAL */

.modal {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.modal_content {
  width: 600px;
  max-width: 100%;
  min-height: 300px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.modal_content > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  grid-row: 1/2;
}

.modal_message_body {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 1.4em;
  color: var(--red-primary);
}

.modal_buttons_row {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
}

.modal_buttons_row > button {
  height: 50px;
  width: 150px;
  font-size: large;
  border-radius: 5px;
  border: 2px solid var(--gray-primary);
  color: white;
  padding: 0;
}

.modal_buttons_row > a {
  height: 46px;
  width: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: var(--green-primary);
  border-radius: 5px;
  border: 2px solid var(--gray-primary);
  color: white;
  text-decoration: none;
}

#confirmar_eliminacion_btn {
  background-color: var(--red-primary);
}

.modal_content > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  grid-row: 2/6;
}

.modal_content > form {
  font-size: larger;
}

.modal_content > form div {
  gap: 25px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

.modal_content > form input {
  font-size: large;
  height: 30px;
  border: 2px solid var(--gray-primary);
  border-radius: 5px;
  width: 80%;
}

.modal_content > form select {
  font-size: large;
  height: 30px;
  border: 2px solid var(--gray-primary);
  border-radius: 5px;
  width: 80%;
}

.modal_content > form button {
  height: 50px;
  width: 150px;
  font-size: large;
  background-color: var(--green-primary);
  border-radius: 5px;
  border: 2px solid var(--gray-primary);
  color: white;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  top: 10px;
  left: 10px;
  background-color: var(--red-primary);
  font-size: 25px;
  color: white;
}

/* END MODAL */

/* SEARCH */

.buscar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--gray-primary);
  width: 100%;
  height: 3em;
  border-radius: 10px;
  overflow: hidden;
}

.buscar_container input {
  width: 80%;
  height: 100%;
  font-size: 1.5em;
  border: none;
}

.buscar_container:has(input:focus) {
  border: 3px solid var(--green-secondary);
}

.buscar_container button {
  height: 100%;
  color: white;
  background-color: var(--gray-primary);
  border: none;
  width: 20%;
  font-size: 1.2em;
}

/* END SEARCH */

/* TABLE */

.table_container {
  max-height: 700px;
  border: 5px solid var(--gray-primary);
  border-radius: 10px;
  overflow-y: scroll;
  max-width: 90%;
  width: 800px;
}

table {
  width: 100%;
  max-height: 600px;
}

table thead {
  position: sticky;
  top: 0;
  background: white;
}

table tbody {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-transform: capitalize;
}

table tr {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

table th {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
}

table td {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table td:not(:last-child),
table th:not(:last-child) {
  border-right: 1px solid var(--gray-primary);
}

table tbody tr:nth-child(even) {
  background-color: var(--gray-secondary);
}

table tbody tr:hover,
table tbody tr:nth-child(even):hover {
  background-color: var(--green-primary);
}

table button {
  width: 70%;
  height: 65%;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
}

table form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_update_button {
  background-color: var(--gray-primary);
}

.table_delete_button {
  background-color: var(--red-primary);
}

.table_checked,
.table_non_checked {
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.table_checked {
  background-color: var(--green-primary);
}

.table_non_checked {
  background-color: var(--red-primary);
}

/* END TABLE */

/* HOME */

#home_main {
  display: flex;
  height: 90vh;
}

#home_main > * {
  width: 50%;
}

#home_section_forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 40%;
}

#abrir_modal_usuario {
  width: 300px;
  height: 60px;
  font-size: x-large;
  background-color: var(--green-primary);
  border: 4px solid var(--gray-primary);
  border-radius: 50px;
  color: white;
}

#form_switch {
  border: 5px solid var(--gray-primary);
  border-radius: 10px;
  width: 600px;
  max-width: 90%;
}

#form_switch_top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#form_switch_top button {
  height: 60px;
  width: 35%;
  border: 3px solid var(--green-secondary);
  font-size: 1.5em;
}

.button_switch_active {
  background-color: var(--green-secondary);
  color: white;
}
.button_switch_deactive {
  background-color: white;
  color: var(--gray-primary);
}

#form_switch_top :nth-child(1) {
  border-radius: 50px 0px 0px 50px;
}

#form_switch_top :nth-child(2) {
  border-radius: 0px 50px 50px 0px;
}

#form_switch_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 1.3em;
}

#form_switch_main form > button {
  width: 50%;
  place-self: center;
  height: 100%;
  padding: 0;
  font-size: large;
  background-color: white;
  color: var(--green-primary);
  border: 3px solid var(--gray-primary);
  border-radius: 10px;
}

#form_switch_main > form > div input {
  border: 3px solid var(--gray-secondary);
  border-radius: 10px;
  height: calc(100% - 6px);
  font-size: 20px;
}

#form_switch_main > form > div select {
  font-size: 20px;
}

#form_switch_main > form > div :nth-child(2):not(input) {
  border: 3px solid var(--gray-secondary);
  border-radius: 10px;
  height: 100%;
}

#prestamos_form {
  display: grid;
  height: 80%;
  row-gap: 2em;
  width: 90%;
  grid-template-rows: repeat(4, 1fr);
}

#devoluciones_form {
  display: none;
  height: 80%;
  row-gap: 2em;
  width: 90%;
}

#form_switch_main form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#form_switch_main form div label {
  display: flex;
  align-items: center;
}

#home_section_table {
  width: 60%;
}

#home_section_table_top {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home_section_table_main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: top;
}

#buscar_home_container {
  width: 70%;
}

/* END HOME */

/* CATEGORIAS */

#categorias_section_top {
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  align-items: center;
  padding-inline: 2em;
  gap: 10px;
}

#categorias_section_top #abrir_modal {
  height: 50px;
  width: 150px;
  font-size: large;
  background-color: var(--green-primary);
  border-radius: 5px;
  border: 2px solid var(--gray-primary);
  color: white;
}

#categorias_section_main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: top;
}

/* END CATEGORIAS */

/* INVENTARIO */

#inventario_section_top {
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  align-items: center;
  padding-inline: 2em;
  gap: 10px;
}

#inventario_section_top #abrir_modal {
  height: 50px;
  width: 150px;
  font-size: large;
  background-color: var(--green-primary);
  border-radius: 5px;
  border: 2px solid var(--gray-primary);
  color: white;
  place-self: left;
}

#inventario_section_main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: top;
}

#inventario_section_main .table_container {
  width: 1000px;
}

/* END INVENTARIO */

/* HISTORIAL */

#historial_main {
  height: 90vh;
  width: 100vw;
  display: flex;
}

#historial_section_forms {
  width: 30vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter_form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 400px;
  max-width: 90%;
  border: 5px solid var(--gray-primary);
  border-radius: 10px;
  font-size: 1.3em;
}

.filter_form_top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  text-align: center;
}

#filter_form h2 {
  margin: 0;
}

#filter_form section {
  display: grid;
  row-gap: 2em;
}

#filter_form section > :not(:last-child) {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 40px;
  gap: 10px;
}

#filter_form input {
  border: 3px solid var(--gray-secondary);
  border-radius: 10px;
  height: 32px;
  width: 100%;
  font-size: 20px;
}

#filter_form span {
  display: none;
  height: 100%;
  font-size: 30px;
  color: red;
}

#filter_form section > :last-child {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

#filter_form section :last-child button {
  font-size: large;
  border-radius: 5px;
  border: 2px solid var(--gray-primary);
  color: white;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter_form section :last-child :first-child {
  background-color: var(--red-primary);
  width: 30%;
}

#filter_form section :last-child :last-child {
  background-color: var(--green-primary);
  width: 60%;
}

#historial_section_table {
  width: 70vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#historial_section_table .table_container {
  width: 90%;
  max-width: 90%;
  height: 80%;
}

#historial_section_table table tr {
  word-break: break-word;
}

#historial_section_table table tbody tr :nth-child(7) {
  overflow: hidden;
}

#historial_section_table table tbody tr :nth-child(7):has(> :hover) {
  overflow: visible;
}

#historial_section_table table tbody tr :nth-child(7) p {
  align-self: flex-start;
  margin: 0;
  width: 100%;
  text-align: center;
  position: unset;
  padding: 5px;
}

#historial_section_table table tbody tr :nth-child(7) p:hover {
  height: fit-content;
  background-color: var(--green-primary);
  border-radius: 5px;
  z-index: 3;
  overflow: auto;
}

/* END HISTORIAL */
