{% extends "base.html" %} {% load static %} {% block content %}
<main id="home_main">
  <section id="home_section_forms">
    <button type="button" id="abrir_modal_usuario">Agregar usuario</button>

    <div id="form_switch">
      <div id="form_switch_top">
        <button id="switch_prestamos">Préstamos</button>
        <button id="switch_devoluciones">Devoluciones</button>
      </div>
      <div id="form_switch_main">
        <form id="prestamos_form" action="{% url 'prestamo' %}" method="post">
          {%csrf_token %} {{formPrestamos}}
          <button type="submit">Prestar</button>
        </form>

        <form
          id="devoluciones_form"
          action="{% url 'devolucion' %}"
          method="post"
        >
          {%csrf_token %} {{formDevoluciones}}

          <button type="submit">Devolver</button>
        </form>
        <datalist id="cedulas">
          {% for cedula in cedulas %}
            <option value="{{ cedula.cedula}}">{{cedula.nombre}}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
  </section>

  <section id="home_section_table">
    <div id="home_section_table_top">
      <div id="buscar_home_container" class="buscar_container">
        <input
          type="text"
          id="buscar_home_input"
          class="buscar_input"
          placeholder="Filtrar préstamos abiertos"
        />
        <button
          id="boton_limpiar_busqueda"
          class="boton_limpiar_busqueda"
          type="button"
        >
          Limpiar
        </button>
      </div>
    </div>
    <div id="home_section_table_main">
      <div class="table_container">
        <table>
          <thead>
            <tr>
              <th>Elemento</th>
              <th>Código</th>
              <th>Cédula</th>
              <th>Nombre</th>
              <th>Fecha Préstamo</th>
            </tr>
          </thead>
          <tbody>
            {% for elemento in transacciones %}
            <tr data-element-id="{{ elemento.id_inventario.id }}">
              <td>{{ elemento.id_inventario.nombre }}</td>
              <td>{{ elemento.id_inventario.codigo }}</td>
              <td>{{ elemento.id_usuario.cedula }}</td>
              <td>{{ elemento.id_usuario }}</td>
              <td>{{ elemento.fecha_prestamo|date:"h:i A, d/m/Y"}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>

<div id="home_modal" class="modal">
  <div class="modal_content">
    <span class="close">&times;</span>
    <h2>Registro de usuarios</h2>
    <form
      method="POST"
      action="{% url 'agregar_usuario' %}"
      id="form_registro_usuarios"
    >
      {% csrf_token %} {{ formRegistroUsuario }}
      <button type="submit">Registrar</button>
    </form>
  </div>
</div>

<script src="{% static 'home.js' %}"></script>

{% endblock %}
