{% extends "base.html" %} {% load static %} {% block content %}
<main>
    <section>

    </section>
    <section>
        <div class="table_container">
            <table>
              <thead>
                <tr>
                  <th>Nombre Persona</th>
                  <th>Cédula</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                {% for elemento in transacciones %}
                <tr data-registro-id="{{ elemento.id }}"  data-categoria-id="{{ elemento.categoria.id}}">
                  <td>{{ elemento.id_usuario }}</td>
                  <td>{{ elemento.id_usuario.cedula }}</td>
                  <td>{{ elemento.fecha_prestamo|date:"h:i A, d/m/Y"}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </section>
</main>

{% endblock %}