{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'signin.css' %}" />
    <title>Inicia Sesión - Gymsena</title>
  </head>
  <body>
    {% block content %}
    <header>
      <div>
        <img src="{% static 'img/logo_negativo.png'%}" alt="" />
        <h1>GYMSENA</h1>
      </div>
      <img src="{% static 'img/user_icon.png'%}" alt="" />
    </header>

    <main>
      <div class="main-wrapper">
        <form action="/signin/" method="post">
          <h2>Administrador</h2>
          {% csrf_token %} {{form}}
          <button type="submit">Ingresar</button>
          <div class="form_message">{{error}}</div>
        </form>
      </div>
    </main>

    {% endblock %}
  </body>
</html>
